.row
  .column-is_6 .column-is_6
  .column-is_6 .column-is_6
.row
  .column-is_6
    .row
      .column-is_4 .column-is_4
      .column-is_4 .column-is_4
      .column-is_4 .column-is_4
  .column-is_6 .column-is_6
.row
  .column-is_2 .column-is_2
  .column-is_2 .column-is_2
  .column-is_2 .column-is_2
  .column-is_2 .column-is_2
