mixin includeExample(exampleName)
  if exampleName === 'row-default'
    include row-default.pug
    pre
      code.code.html
        include:highlight:pug:html-beautify(lang: 'html') row-default.pug
  if exampleName === 'row-spacing'
    include row-spacing.pug
  if exampleName === 'row-spacing-no_margin'
    include row-spacing-no_margin.pug
  if exampleName === 'row-nesting'
    include row-nesting.pug
  if exampleName === 'row-orientation'
    include row-orientation.pug
  if exampleName === 'row-is_column'
    include row-is_column.pug
  if exampleName === 'row-is_row'
    include row-is_row.pug
  if exampleName === 'row-no_break'
    include row-no_break.pug
  if exampleName === 'row-alignement-vertical'
    include row-alignement-vertical.pug
  if exampleName === 'row-alignement_vertical-top'
    include row-alignement_vertical-top.pug
  if exampleName === 'row-alignement_vertical-center'
    include row-alignement_vertical-center.pug
  if exampleName === 'row-alignement_vertical-bottom'
    include row-alignement_vertical-bottom.pug
  if exampleName === 'row-alignement_horizontal-default'
    include row-alignement_horizontal-default.pug
  if exampleName === 'row-alignement_horizontal-left'
    include row-alignement_horizontal-left.pug
  if exampleName === 'row-alignement_horizontal-center'
    include row-alignement_horizontal-center.pug
  if exampleName === 'row-alignement_horizontal-right'
    include row-alignement_horizontal-right.pug

  if exampleName === 'column-default'
    include column-default.pug
  if exampleName === 'column-size'
    include column-size.pug
  if exampleName === 'column-size-all'
    include column-size-all.pug
  if exampleName === 'column-size-adaptative'
    include column-size-adaptative.pug
  if exampleName === 'column-size-fixed-adaptative'
    include column-size-fixed-adaptative.pug
  if exampleName === 'column-nested'
    include column-nested.pug
  if exampleName === 'column-order-default'
    include column-order-default.pug
  if exampleName === 'column-order-change'
    include column-order-change.pug
  if exampleName === 'column-align_vertical-default'
    include column-align_vertical-default.pug
  if exampleName === 'column-align_vertical-stretch'
    include column-align_vertical-stretch.pug
  if exampleName === 'column-align_vertical-top'
    include column-align_vertical-top.pug
  if exampleName === 'column-align_vertical-center'
    include column-align_vertical-center.pug
  if exampleName === 'column-align_vertical-bottom'
    include column-align_vertical-bottom.pug
