.row
  .column-is_6 Column 6
  .column-is_6 Column 6
.row
  .column-is_6
    .row
      .column-is_6 .column-is_6 nested in .row
      .column-is_6 .column-is_6 nested in .row
  .column-is_6 Column 6
