.doc-grid
  h1 Grid

  h1 Grid examples

  .container
    .row
      .column.is-12 container

  .section
    .row
      .column.is-12 Section

  h2 Basic columns

  - for (var columnSize = 1; columnSize <= 12; columnSize++)
    .row
      - var nrColumns = 12 / columnSize
      - for(var quantColumns = 1; quantColumns <= nrColumns; quantColumns++)
        .column(class="is-" + columnSize)

  h2 Nested columns

  .row
    .column.is-6
      .row
        .column.is-4
        .column.is-4
        .column.is-4
          .row
            .column.is-6
            .column.is-6
    .column.is-6
  .row
    .column.is-2
    .column.is-2
    .column.is-2



  //- .row
    - for (var columnNr = 1; columnNr <= 12; columnNr++)
      .column(class="is-1") #{columnNr}
  //- .row
    - for (var columnNr = 1; columnNr <= 12; columnNr++)
      .column(class="is-"+columnNr) #{columnNr}

