#docs-typography
  .row
    .column.is-12
      h1 typography

  .row
    .column.is-12
      h2 Sizes

  .row
    .column.is-4
      .row
        .column.is-12
          .fontSize--xxx-large xxx-large
      .row
        .column.is-12
          .fontSize--xx-large xx-large
      .row
        .column.is-12
          .fontSize--x-large x-large
      .row
        .column.is-12
          .fontSize--large large
      .row
        .column.is-12
          .fontSize--medium medium
      .row
        .column.is-12
          .fontSize--small small
      .row
        .column.is-12
          .fontSize--x-small x-small
      .row
        .column.is-12
          .fontSize--xx-small xx-small
      .row
        .column.is-12
          .fontSize--xxx-small xxx-small
    .column.is-4
      .row
        .column.is-12
          .fontSize--x-large
            span xxx-large
            span.fontSize--small nested small

  .row
    .column.is-12
      h2 Weight

  .row
    .column.is-4

      .row
        .column.is-12
          h3 Modifiers
      .row
        .column.is-12
          span.fontWeight--thin
            span.fontWeight--bolder Text bolder
      .row
        .column.is-12
          span.fontWeight--lighter Text lighter
      .row
        .column.is-12
          h3 Absolute values
      .row
        .column.is-12
          span.fontWeight--thin Text thin
      .row
        .column.is-12
          span.fontWeight--light-extra extra-Text light
      .row
        .column.is-12
          span.fontWeight--light Text light
      .row
        .column.is-12
          span.fontWeight--medium Text medium
      .row
        .column.is-12
          span.fontWeight--regular Text regular
      .row
        .column.is-12
          span.fontWeight--bold-semi Text bold semi
      .row
        .column.is-12
          span.fontWeight--bold Text bold
      .row
        .column.is-12
          span.fontWeight--bold-extra extra-Text bold
      .row
        .column.is-12
          span.fontWeight--black Text black

  .row
    .column.is-12
      h2 Lists

  .row
    .column.is-4
      ol.listOrdered
        li a
        li b
        li c
    .column.is-4
      ol.listUnordered
        li a
        li b
        li c
