.row
  .column.is-12
    h1 typography

.row
  .column.is-12
    h2 Sizes

.row
  .column.is-4
    .row
      .column.is-12
        .fontSize--xxx-large xxx-large
    .row
      .column.is-12
        .fontSize--xx-large xx-large
    .row
      .column.is-12
        .fontSize--x-large x-large
    .row
      .column.is-12
        .fontSize--large large
    .row
      .column.is-12
        .fontSize--medium medium
    .row
      .column.is-12
        .fontSize--small small
    .row
      .column.is-12
        .fontSize--x-small x-small
    .row
      .column.is-12
        .fontSize--xx-small xx-small
  .column.is-4
    .row
      .column.is-12
        .fontSize--x-large
          span xxx-large
          span.fontSize--small nested small


.row
  .column.is-12
    h2 Weight 2

.row
  .column.is-4
    span.fontWeight--bolder Text bolder
    span.fontWeight--lighter Text lighter
    span.fontWeight--thin Text thin
    span.fontWeight--extra-light extra-Text light
    span.fontWeight--light Text light
    span.fontWeight--normal Text normal
    span.fontWeight--medium Text medium
    span.fontWeight--semi-bold semi-Text bold
    span.fontWeight--bold Text bold
    span.fontWeight--extra-bold extra-Text bold
    span.fontWeight--black Text black
