#docs-typography
  .row
    .column-is_12
      h1 typography

  .row
    .column-is_12
      h2 Sizes

  .row
    .column-is_4
      .row
        .column-is_12
          .font_size--xxx-large xxx-large
      .row
        .column-is_12
          .font_size--xx-large xx-large
      .row
        .column-is_12
          .font_size--x-large x-large
      .row
        .column-is_12
          .font_size--large large
      .row
        .column-is_12
          .font_size--medium medium
      .row
        .column-is_12
          .font_size--small small
      .row
        .column-is_12
          .font_size--x-small x-small
      .row
        .column-is_12
          .font_size--xx-small xx-small
      .row
        .column-is_12
          .font_size--xxx-small xxx-small
    .column-is_4
      .row
        .column-is_12
          .font_size--x-large
            span xxx-large
            span.font_size--small nested small

  .row
    .column-is_12
      h2 Weight

  .row
    .column-is_4

      .row
        .column-is_12
          h3 Modifiers
      .row
        .column-is_12
          span.font_weight--thin
            span.font_weight--bolder Text bolder
      .row
        .column-is_12
          span.font_weight--lighter Text lighter
      .row
        .column-is_12
          h3 Absolute values
      .row
        .column-is_12
          span.font_weight--thin Text thin
      .row
        .column-is_12
          span.font_weight--light-extra extra-Text light
      .row
        .column-is_12
          span.font_weight--light Text light
      .row
        .column-is_12
          span.font_weight--medium Text medium
      .row
        .column-is_12
          span.font_weight--regular Text regular
      .row
        .column-is_12
          span.font_weight--bold-semi Text bold semi
      .row
        .column-is_12
          span.font_weight--bold Text bold
      .row
        .column-is_12
          span.font_weight--bold-extra extra-Text bold
      .row
        .column-is_12
          span.font_weight--black Text black

  .row
    .column-is_12
      h2 Lists

  .row
    .column-is_4
      ol.listOrdered
        li a
        li b
        li c
    .column-is_4
      ol.listUnordered
        li a
        li b
        li c
