.row
  .column-is_12
    h1.font_size--xxx-large Button

.row
  .column-is_12
    a.button My button link
  .column-is_12
    .button My button div
  .column-is_12
    span.button My button span
  .column-is_12
    button.button My button
  .column-is_12
    button.button.font_size--medium My button
  .column-is_12
    button.button-xxx-large button-xxx-large
  .column-is_12
    button.button-xx-large button-xx-large
  .column-is_12
    button.button-x-large button-x-large
  .column-is_12
    button.button-large button-large
  .column-is_12
    button.button-medium button-medium
  .column-is_12
    button.button-small button-small
  .column-is_12
    button.button-x-small button-x-small
  .column-is_12
    button.button-xx-small button-xx-small
  .column-is_12
    button.button-xxx-small button-xxx-small
