<!DOCTYPE html>
html(lang='', )
  head
    meta(charset='utf-8', )
    meta(http-equiv='X-UA-Compatible', content='IE=edge', )
    meta(name='description', content='', )
    meta(name='viewport', content='width=device-width, initial-scale=1.0', )
    title Docs
    // Disable tap highlight on IE
    meta(name='msapplication-tap-highlight', content='no', )
    link(rel='stylesheet', href='./index.css', )
    body()

      .navbar
        .navbar-logo
          h1 Alicerce
        .navbar-nav
          a(href='#') item 1
          a(href='#') item 2

      .row
        .column-is_1
          ul
            li
              a(href='#grid', ) grid
            li
              a(href='#typography', ) typography
            li
              a(href='#button', ) button
            //- li
              a(href='#html-elements', ) html elements

        .column-is_11
          section#grid.section
            include base/grid.pug

          section#typography.section
            include base/typography.pug

          section#button.section
            include elements/button.pug



          //- section#html-elements.section
            include base/html-elements.pug



