[class*='columna-']
    outline: 1px dashed green;

.doc-grid

  [class*='column-']
    outline: 1px dashed green;

    &:before
      content attr(class)
      font-size 11px
      background red
      width 100%
      display block
      text-align center
