body
  --line-grid calc(var(--vertical-rhythm) / 16)
  background-color: #fff;
  background-image: linear-gradient(90deg, #efefef var(--line-grid), transparent 0), linear-gradient(#ccc var(--line-grid), transparent 0), linear-gradient(#efefef var(--line-grid), transparent 0);
  background-size: var(--vertical-rhythm) 100%, 100% calc(var(--vertical-rhythm) * 2), 100% var(--vertical-rhythm)
  background-position: 0 0, 0 0, 0 0;

  *a
    --demo-color green
    &:hover
      outline: .3px dashed var(--demo-color);
    *
      --demo-color orange
      & + *
        --demo-color red
      *
        --demo-color blue
        *
          --demo-color black

// [class*='columna-']
//     outline: 1px dashed green;

show-column()
  &:before
    background-color lightgray
    color transparent
    content attr(class)
    display block
    height 100%
    left 8px
    opacity .5
    position absolute
    text-align center
    top 0
    width calc(100% - 16px)

.demo
  &-row
    &_space
      [class*='row']
        outline 1px solid red
      [class*='column']
        position relative
        show-column()
    &_align
      [class*='row']
        outline 1px solid red
      [class*='column']
        position relative
        show-column()


  &-columns
    &_size
      [class*='column']
        position relative
        show-column()
    &_gutter
      [class*='column']
        &:before
          content attr(class)
          display block
          outline 1px solid red
          height var(--line-height)
          text-align center

