.container
  display flex
  flex-direction row
  flex-wrap wrap

.row
  --align-items stretch
  --flex-direction row
  --flex-wrap wrap
  --justify-content flex-start
  --margin-bottom calc(var(--vertical-rhythm) * 2)
  align-content stretch
  align-items var(--align-items)
  display flex
  flex-direction var(--flex-direction)
  flex-wrap var(--flex-wrap)
  justify-content var(--justify-content)
  margin-bottom var(--margin-bottom)
  width: 100%

  &.is
    &-row
      --flex-direction row
    &-column
      --flex-direction column

  &.no
    &-break
      --flex-wrap nowrap
    &-margin
      --margin-bottom 0

  &.align
    &-vertical
      &--top
        --align-items flex-start
      &--center
        --align-items center
      &--bottom
        --align-items flex-end
    &-horizontal
      &--left
        --justify-content flex-start
      &--center
        --justify-content center
        &--spaced
          --justify-content space-around
        &--justify
          --justify-content space-between
      &--right
        --justify-content flex-end

// Column base
[class*='column-']
  --align-self auto
  --order 1
  --padding var(--gutter)
  align-self var(--align-self)
  flex-basis calc((100% / var(--columns)) * var(--column-width))
  order var(--order)
  padding-left var(--padding)
  padding-right var(--padding)

  & > .row
    margin-left calc(var(--gutter) * -1)
    width calc(100% + calc(var(--gutter) * 2))

// Size
alignDefault()
  &column-aligna
    &-vertical
      &--top
        --align-self flex-start
      &--center
        --align-self center
      &--bottom
        --align-self flex-end

// Generate columns size for the size of grid
sizeDefault()
  for $col in (1..$columns)
    &column-is_{$col}
      --column-width $col
      // flex-basis ($col * 6 * 16px)

// Generate columns order for the size of grid
orderDefault()
  for $col in (1..$columns)
    &is_order_{$col}
      --order $col

// Generate columns in all sizes in all breakpoints
+generateForBreakpoints()
  alignDefault()
  sizeDefault()
  orderDefault()
