@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700')

:root
  --font-family--regular 'Noto Sans', sans-serif
  --font-family--semibold 'Noto Sans', sans-serif
  --font-size 16px
  --font-size--large calc(var(--font-size) *  1.125)
  --font-size--medium calc(var(--font-size) *  1)
  --font-size--small calc(var(--font-size) *  .8125)
  --font-size--x-large calc(var(--font-size) *  1.5)
  --font-size--x-small calc(var(--font-size) *  .625)
  --font-size--xx-large calc(var(--font-size) *  2)2
  --font-size--xx-small calc(var(--font-size) *  .5625)
  --font-size--xxx-large calc(var(--font-size) *  3)
  --font-size--xxx-small calc(var(--font-size) *  .4375)
  --font-weight 400
  --font-weight--black 900
  --font-weight--bold-extra 800
  --font-weight--bold 700
  --font-weight--bold-semi 600
  --font-weight--medium 500
  --font-weight--regular 400
  --font-weight--light 300
  --font-weight--light-extra 200
  --font-weight--thin 100
  --line-height-ratio 1.618

body
  font-family var(--font-family--regular)
  font-size var(--font-size)
  line-height calc(var(--font-size) * var(--line-height-ratio))

// Font Basics
[class*='font_size']
  --font-size var(--font-size--medium)
  font-size var(--font-size)
  line-height calc(var(--font-size) * var(--line-height-ratio))

[class*='font_weight']
  --font-weight var(--font-weight--medium)
  font-weight var(--font-weight)

fontDefault()
  &font
    &_size
      &--xxx-large
        --font-size var(--font-size--xxx-large)
      &--xx-large
        --font-size var(--font-size--xx-large)
      &--x-large
        --font-size var(--font-size--x-large)
      &--large
        --font-size var(--font-size--large)
      &--medium
        --font-size var(--font-size--medium)
      &--small
        --font-size var(--font-size--small)
      &--x-small
        --font-size var(--font-size--x-small)
      &--xx-small
        --font-size var(--font-size--xx-small)
      &--xxx-small
        --font-size var(--font-size--xxx-small)

    // Font weights
    &_weight
      // Modifiers
      &--bolder
        font-weight bolder
      &--lighter
        font-weight lighter
      // Absolute
      &--thin
        --font-weight var(--font-weight--thin)
      &--light-extra
        --font-weight var(--font-weight--light-extra)
      &--light
        --font-weight var(--font-weight--light)
      &--medium
        --font-weight var(--font-weight--medium)
      &--regular
        --font-weight var(--font-weight--regular)
      &--bold-semi
        --font-weight var(--font-weight--bold-semi)
      &--bold
        --font-weight var(--font-weight--bold)
      &--bold-extra
        --font-weight var(--font-weight--bold-extra)
      &--black
        --font-weight var(--font-weight--black)

    // Font Styles
    &_style
      &--normal
        font-style normal
      &--italic
        font-style italic

// Responsive
+generateForBreakpoints()
  fontDefault()

// Lists
[class*='list']
  --margin var(--font-size)
  margin-left  calc(var(--margin) * 1)

.list

  &Ordered
    counter-reset section
    list-style-type none

    li:before
      content counters(section, '-') '.'
      counter-increment section

    // li

  &Unordered
    list-style none

    li:before
      background-color rgba(53,64,82,0.50)
      content ''
      circle(6px)
      margin-right 14px
